@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
*{
  margin: 0;
  padding: 0;
  font-size: 18px;
}
/* BEGIN FOR LAYOUT */
div{
  border: 2px solid blue;
}
section{
  border: 2px solid red;
}
nav{
  border: 2px solid green;
}
/* END FOR LAYOUT */
.App{
  /* min-height: 100%; */
  background: rgba(#29323c);
  background: linear-gradient(75deg, #485563, #29323c);
  background: -webkit-linear-gradient(75deg, #485563, #29323c);
  background: -moz-linear-gradient(75deg, #485563, #29323c);
  color: white;
  font-family: 'Klee One', cursive;
  padding-bottom: 5%;
}
.link{
  color: white;
  text-decoration: none;
}
.link:hover{
  text-decoration: underline;
  cursor: pointer;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a{
  color: white;
  text-decoration: none;
}
nav a:hover{
  color: white;
}
.app-header{
  text-align: center;
}
#app-title{
  padding-top: 2%;
  font-size: 2.7rem;
  font-family: 'Klee One', cursive;
}
#footprints-image{
  margin-top: 2%;
  max-width: 50vw;
  max-height: 10%;
}
.about-container{
  max-width: 85%;
  text-align: center;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
}
#login-form-container{
  background: rgba(0, 0, 0, .55);
  margin: 0 auto;
  border-radius: 10px;
}
#login-form{
  width: 100%;
}
.form-header{
  font-family: sans-serif;
}
.form-label{
  font-family: sans-serif;
}
.user-input{
  font-family: sans-serif;
}
.nav-link{
  font-family: sans-serif;
}
#create-account-link{
  padding-left: 0;
  padding-top: 10px;
}
.error-message{
  color: red;
  font-size: .9rem;
  font-family: sans-serif;
  text-align: center;
}
.form-button{
  padding: 10px;
  padding-top: 5px;
  font-family: sans-serif;
}
.name-input-container{
  display: flex;
  justify-content: space-between;
}
#register-form-container{
  background: rgba(0, 0, 0, .55);
  margin: 0 auto;
  border-radius: 10px;
  max-width: 65vw;
}
.name-input{
  width: 45%;
}
.password-input-container{
  display: flex;
  justify-content: space-between;
}
.pass-input{
  width: 45%;
}
.PlacementComponent{
  width: 80%;
  margin: 0 auto;
}
.placement-container{
  margin-top: 5%;
}
.IndividualPlacementComponent{
  text-align: center; 
}
.placement-title{
  align-self: flex-start;
  width: 50%;
}
.placement-dates{
  align-self: flex-end;
  width: 50%;
  text-align: right;
}
.accordion-container{
  margin-bottom: 5%;
}
.accordian-header{
  border-radius: 20px;
}
#accordian-item{
  background: rgba(0, 0, 0, .6);
}
.accordion-item{
  background: red;
}
.location-container{
  text-align: left;
  margin-bottom: 3.5%;
}
.foster-parent-header-container{
  text-align: left;
}
.parents-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3.5%;
}
.individual-foster-parent-container{
  width: 200px;
}
.foster-parent-image{
  max-width: 80%;
}
.foster-sibling-header-container p{
  text-align: left;
  margin: 0;
}
.siblings-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.sibling-name{
  display: inline;
}

@media only screen and (min-width: 480px) {
  #app-title{
    font-size: 3.5rem;
  }
  #footprints-image{
    max-width: 30vw;
  }
  #login-form-container{
    width: 35vw;
  }
}